<div class="jumbotron center">
	<h1>Welcome to AGENCY5</h1>
	<p>We are developing a web application built on Bootstrap! Follow our journey by signing up below! <br><br> Author: Hanson Walker <br> hanson@agency5creative.com</p>
		<%= link_to "Log In", "#", class: "btn btn-default" %>
		<%= link_to "Sign Up", "#", class: "btn btn-primary" %>
</div>